$primary-color: #8E11C5;
$background-color: #130D17;
$background-color-opacity: #130D17E6;
$secondary-text-color: white;
$subtitle-text-color: #89868B;
$chip-fbaul-color: #B252B5;
$border-whatsapp-color: #239F61;
$hover-opacity-color: #130d1756;
