footer{
    background-color: $primary-color;
    height: 50px;
    display: flex;
    justify-content: center;
    
    p{
        @include mainText;
        @include textSmall;
        color: $secondary-text-color;
    }    
}
