header{
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1;

    .container{
        background-color: $background-color;
        display: flex;
        align-items:center;
        flex-direction: row;
        padding: 0 16px;
        @media (min-width: $medium){
            height: 80px;
            align-items:center;
            padding: 0 4%;
        }

        h1{
            @include mainText;
            @include titleName-mobile;
            color: $primary-color;
            flex-grow: 1;
            @media (min-width: $medium){
                @include titleName-desktop;
                margin: 0;

            }

            a{
                text-decoration: none;
                color: $primary-color;
            }
        }

        
        #main-navigation{
            display: none;
            @media (min-width: $medium){
                display: block;

            }
            &.menu-is-open{
                display: block;
                position: absolute;
                background-color: $background-color-opacity;
                top: 84px;
                left: 0;
                width: 100%;
                ul{
                    flex-direction: column;
                    padding: 4% 16px;

                    li{
                        text-align: right;
                    }
                }
                @media (min-width: $medium){
                    display: block;
                    position: static;
                    background: transparent;
                    width: auto;
                    ul{
                        flex-direction: row;
                        padding: 0;
                    }
                }
            }
        }

        .btn--toggle-menu{
            background: transparent;
            border: none;
            display: flex;
            cursor: pointer;
            padding: 0;

            @media (min-width: $medium){
                display: none;
            }

            svg{
                stroke: $primary-color;
                width: 32px;
                height: 32px;
            }
        }

        nav{
            
            ul{
                display: flex;
                margin: 0;
                li{
                    list-style: none;
                    margin: 10px;
                    a{
                        @include mainText;
                        @include textNav-desktop;
                        color: $primary-color;
                        text-decoration: none;
                        &.active{
                            font-weight: bolder;
                            //text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    hr{
        border: 1.4px solid $primary-color;
        margin: 0 16px;
        display: block;
        @media (min-width: $medium){
            margin: 0 4%;
        }
     }

}




