header{
    background-color: $primary-color;
    height: rem(50);
    display: flex;
    justify-content: center;

    p{
        @include mainText;
        @include textSmall;
        color: $secondary-text-color;
    }
}

