main {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-grow: 1;
}

body {
	
	background-color: $background-color;
	display:flex;
	flex-direction: column;
	margin: 0;
	height: 100svh;
	/*&.work{
		background-color: red;
	}
	&.contacts{
		background-color: yellow;
	}
	&.home{
		background-color: blue;
	}*/

	.grid-container{
		width: 94%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 4fr 3fr 2fr 2fr;
		column-gap: 16px;
		row-gap: 24px;
		margin: 16px;
		@media (min-width: $medium){
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: repeat(4, 1fr);
			column-gap: 24px;
			margin: 0;
		}
	}
}






