
@mixin mainText{
    font-family: 'Montserrat', sans-serif;
}


//MOBILE TEXT


//DESKTOP TEXT


@mixin textSmall-desktop{
    font-size: rem(16px);
}

@mixin bodyText-desktop{
    font-size: rem(21px);
    line-height: 1.4;
}

@mixin title-desktop{
    font-size: rem(46px);
    font-weight: bold;
}

@mixin textNav-desktop{
    font-size: rem(28);
}

@mixin titleName-desktop {
    font-size: rem(40px);
    font-weight: bold;
}