
@mixin mainText{
    font-family: 'Montserrat', sans-serif;
}


//MOBILE TEXT

@mixin textSmall-mobile{
    font-size: rem(12px);
}

@mixin bodyText-mobile{
    font-size: rem(14px);
    line-height: 1.4;
}

@mixin title-mobile{
    font-size: rem(24px);
    font-weight: bold;
}

@mixin titleName-mobile {
    font-size: rem(32px);
    font-weight: bold;
}

//DESKTOP TEXT


@mixin textSmall-desktop{
    font-size: rem(16px);
}

@mixin bodyText-desktop{
    font-size: rem(21px);
    line-height: 1.4;
}

@mixin title-desktop{
    font-size: rem(46px);
    font-weight: bold;
}

@mixin textNav-desktop{
    font-size: rem(26);
}

@mixin titleName-desktop {
    font-size: rem(40px);
    font-weight: bold;
}