//-------------------------------------------------------------------------------------------------------WORK
.work{
    @include grid;
    padding: 0;


    section{
        grid-column: 1/span 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 16px;
        margin-top: 10%;

        h2{
            margin-bottom: 0;
        }

        p{
            margin-top: 10px;
        }

        @media (min-width: $medium){
            grid-column: 2/span 10;
            padding: 0;
        }
    }

    a{
        grid-column: 1/span 4;
        padding: 16px 16px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url(/assets/img/bg-lines.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: all 1s;

        @media (min-width: $medium){
            grid-column: 1/span 12;
            padding: 5% 8%;
            flex-direction: row;
            align-items: center;
            background-size: 130%;
            
        }
        
        &:hover{
            @media (min-width: $medium){
                background-size: 160%;
            }
        }
        
        
        article{
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (min-width: $medium){
                width: 50%;        
                padding-left: 24px;   
                align-items: start; 
            }
        }
        
        h3{
            margin: 0;
            width: 100%;

            @media (min-width: $medium){
                @include subtitle-desktop;
            }
        }
           

        figure{
            margin: 0;
            display: flex;
            justify-content: center;

            @media (min-width: $medium){
                width: 50%;
            }

            img{
                width: 100%;
                max-width: 400px;

                @media (min-width: $medium){
                    max-width:none;
                    object-fit: contain;
                }
            }
        }

        button{
            @include mainText;
            @include bodyText-mobile;
            font-weight: 600;
            color: $primary-color;
            border: 1.6px solid $primary-color;
            background-color: $background-color;
            border-radius: 50px;
            padding: 8px 16px 8px 16px;
            width:fit-content;
            margin: 0 0 8px 0;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            z-index: 1;
            @media (min-width: $medium){
                margin: 16px 0 12px 0;
            }

            &:before{
                content: "";
                position: absolute;
                left: 0;
                bottom: calc(-500%);
                width: 100%;
                height: 500%;
                border-radius: 5000px;
                background-color: $primary-color;
                transition: 0.5s;
                z-index: -1;
                }

                &:hover {
                    &:before {
                        bottom: -240%;
                    }
                    color: $secondary-text-color;
                }
        }
    }

}
