@import
 "partials/mediaqueries",
 "partials/colors",
 "partials/functions",
 "partials/mixins",
 "partials/header",
 "partials/layout",
 "partials/footer",
 "partials/animations",

 "partials/home",
 "partials/work",
 "partials/projectfbaul",
 "partials/projectwhatsapp",
 "partials/contacts"
 ;


 h2{
    @include mainText;
    @include title-mobile;
    color: $primary-color;

    @media (min-width: $medium){
        @include title-desktop;
    }
}
p{
    @include mainText;
    @include bodyText-mobile;
    color: $secondary-text-color;
    margin-top: 20px;

    @media (min-width: $medium){
        @include bodyText-desktop;
    }
}





