@import
 "partials/mediaqueries",
 "partials/colors",
 "partials/functions",
 "partials/mixins",
 "partials/header",
 "partials/layout",
 "partials/footer",
 "partials/animations",
 "partials/home",
 "partials/work",
 "partials/projectfbaul",
 "partials/projectwhatsapp",
 "partials/contacts"
 ;


//----GENERAL TEXT STYLES----

h2{
    @include mainText;
    @include title-mobile;
    color: $primary-color;

    @media (min-width: $medium){
        @include title-desktop;
    }
}

h3{
    @include mainText;
    @include subtitle-mobile;
    color: $secondary-text-color;
}

p{
    @include mainText;
    @include bodyText-mobile;
    color: $secondary-text-color;
    margin-top: 20px;

    @media (min-width: $medium){
        @include bodyText-desktop;
    }
}

//----SCROLLBAR STYLE----

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: $background-color; 
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff63;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff34; 
}

//----SELECTION STYLE----

::selection{
    background: #8f11c570;
}





